* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
}
section {
  width: 1200px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-title {
  font-size: 36px;
  color: #131318;
}
.logo-title span {
  font-weight: 800;
  color: #ff5400;
}

.nav-list ul {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: #424247;
  gap: 40px;
}
.active {
  color: #ff5400;
}

.hero {
  position: relative;
  background-image: url("/Images/Group 13 (1) (1).png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  border-radius: 20px;
}
.hero-content {
  z-index: 10;
  padding: 106px 0px;
  width: 50%;
  text-align: center;
}
.hero-content h1 {
  color: #fff;
  font-size: 64px;
  margin-bottom: 24px;
}
.hero-content-p {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 48px;
}

.hero-content-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 16px;
  border-radius: 8px;
}
.hero-content-panel p,
select,
.search-field {
  padding: 16px 16px;
  background-color: #fff;
  border-radius: 5px;
  width: 175px;
  color: rgba(19, 19, 24, 0.5);
  text-align: left;
}
.search-field {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ff5400;
  color: #fff;
}

.popular-tour {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding-top: 100px;
}
.popular-tour-content h2 {
  color: #131318;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}
.popular-tour-content p,
ul {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}
.popular-tour-content ul li {
  margin-bottom: 16px;
  margin-left: 20px;
}
.popular-tour-content button {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border-radius: 8px;
  background: #ff5400;
  padding: 14px 35px;
  border: none;
  margin-top: 16px;
}

.destination h3,
.choose h3,
.discounts h3 {
  color: #131318;
  font-size: 40px;
  text-align: center;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 100px;
}
.destination p {
  width: 643px;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 24px auto;
}

.destination-frame-one {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  height: 300px;
  margin-bottom: 24px;
}
.maldives {
  grid-column: span 6;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("/Images/Rectangle\ 5.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.indonesia {
  grid-column: span 6;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("/Images/Rectangle\ 8.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.destination-frame-one h3 {
  color: #fff;
  margin: 0;
  padding: 0;
}

.destination-frame-two {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  height: 285px;
  margin-bottom: 24px;
}
.srilanka {
  grid-column: span 4;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("/Images/Rectangle\ 6.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.northamerica {
  grid-column: span 5;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("/Images/Rectangle\ 7.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.kashmir {
  grid-column: span 3;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("/Images/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.destination-frame-two h3 {
  color: #fff;
  margin: 0;
  padding: 0;
}
.destination-frame-three {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  height: 300px;
  margin-bottom: 24px;
}
.bangladesh {
  grid-column: span 5;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("/Images/Rectangle\ 11.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.bandarban {
  grid-column: span 7;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("/Images/Rectangle\ 10.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.destination-frame-three h3 {
  color: #fff;
  margin: 0;
  padding: 0;
}
.choose-p {
  width: 643px;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 24px auto;
}

.choose-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.choose-container-one {
  display: flex;
  align-items: center;
  gap: 48px;
  border-radius: 16px;
}
.choose-container-one > div {
  padding: 32px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.choose-container-two {
  width: 50%;
  margin-top: 24px;
  padding: 32px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.choose-container h5 {
  color: #131318;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 32px;
  padding-bottom: 16px;
}
.choose-container-one p,
.choose-container-two p {
  color: #5a5a5d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.discounts-p {
  width: 643px;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 24px auto;
}
.deals {
  height: 500px;
  background-image: url("/Images/Group\ 39.png");
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.deals-content {
  width: 579px;
  height: 389px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  padding: 50px;
  margin-right: 50px;
}
.deals-content-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.deals-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.deals-content h4 {
  color: #131318;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 24px;
}
.deals-content-p {
  color: #5a5a5d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 16px;
}
.deals-content h5 {
  color: #ff5400;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 16px;
}

.deals-content button {
  padding: 14px 24px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 28px;
}
.newsletter {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  gap: 24px;
}
.newsletter-one {
  grid-column: span 5;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 40px;
}
.newsletter-one h5 {
  color: #131318;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.newsletter-one p {
  color: #5a5a5d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 80%;
  margin-bottom: 24px;
  padding-top: 16px;
}
.newsletter-two {
  grid-column: span 7;
}

.newsletter-one input {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  margin-top: 16px;
  width: 90%;
  padding: 16px;
  border: none;
}

.newsletter-one button {
  width: 90%;
  margin-top: 24px;
  text-align: center;
  padding: 14px 0;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
footer {
  background: rgba(19, 19, 24, 0.05);
  margin-top: 100px;
}
.footer-content {
  width: 45%;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px auto;
}
.footer-title {
  font-size: 32px;
  color: #131318;
}
.logo-title span {
  font-weight: 800;
  color: #ff5400;
}
.footer-content p {
  text-align: center;
  margin-bottom: 35px;
}
.footer-icon {
  margin-bottom: 50px;
}
.copyright-text {
  margin-top: 50px;
  color: #131318;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* starting responsive section  */
@media screen and (max-width: 600px) {
  .hero-content h1 {
    font-size: 35px;
  }
  .hero-content-p {
    font-size: 26px;
  }

  .hero-content-panel {
    flex-direction: column;
    padding: 60px;
  }

  .hero-content-panel p,
  select,
  .search-field {
    padding: 16px 66px;
    width: 370px;
  }

  .search-field {
    gap: 25px;
    background-color: #ff5400;
    color: #fff;
  }

  /* popular section  */

  .popular-tour {
    display: block;
  }

  .popular-tour-content {
    margin-bottom: 50px;
  }
  .popular-img img {
    width: -webkit-fill-available;
  }
}
